body {
  background-image: url("../images/background2.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}

h1 {
  font-family: "Patrick Hand SC", cursive;
  font-size: 45px;
  color: rgba(253,236,1,0.6);
  padding-top: 15px;
  text-align: right;
}

#profile-pic {
  background-image: url("../images/stand-in-portrait.jpg");
  background-size: cover;
  float: left;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px dotted rgba(253,236,1,0.8);
}

#profile-pic h1 {
  text-align: right;
}

p {
  font-family: "Amatic SC", cursive;
  font-size: 30px;
  font-weight: bold;
  background-color: rgba(255,255,255,0.7);
  color: rgba(0,0,0,0.6);
}

ul {
  font-family: "Gaegu", cursive;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: right;
}

a {
  text-decoration: none;
  color: rgba(255,255,255,0.7);
}

a:hover {
  color: rgba(255,255,255,0.7);
  text-shadow: rgba(0,0,200,0.8);
}

p {
  border: 2px solid rgba(255,255,255,0.6);
  background-color: rgba(255,255,255,0.4);
  text-align: center;
}
