header {
  height: 600px;
  background-image: url("../images/background3.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-size: 100%;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: rgba(255,255,222,0.7);
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

body {
  background-color: rgba(0,0,65,1);
}

h1, h2 {
  font-family: "Patrick Hand SC", cursive;
  font-size: 45px;
  color: rgba(255,255,255);
  padding-top: 15px;
  text-align: right;
}

p {
  font-family: "Amatic SC", cursive;
  font-size: 30px;
  font-weight: bold;
  color: rgba(255,255,255,0.6);

}

img {
  height: 400px;
}

#extraSpace {
  height: 500px;
}

#menu {
  display: inline-block;
  cursor: pointer;
  text-align: right;
}

ul {
  font-family: "Gaegu", cursive;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: right;
}

ul li a {
  color: rgba(255,255,255,1);
  text-decoration: none;
}

ul li a:hover {
  background-color: rgba(191,63,169,0.7);
}

#main-menu {
  position: relative;
  left: 45%;
  transition: all 0.4s ease;
}

#menu-toggler:checked + #main-menu {
  left: 0;
}
